.cards-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: calc((100% - 1000px) / 3);
}

@media only screen and (max-width: 540px) {
  .cards-list {
    gap: 0px;
  }
  .card-layout {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
