@import "../../ui-variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 25px 60px 25px 60px;
  box-shadow: 0px 3px 3px $shadow-color;

  &.dark {
    @include dark-primary();
    box-shadow: 0px 1px 1px $shadow-color-dark;
  }
}

.heading-text {
  font-weight: 800;
  font-size: large;
}

.dark-mode-switcher {
  cursor: pointer;
  display: flex;
}

.secondary-text {
  padding-left: 4px;
  font-weight: 300;
}

.moon {
  height: 15px;
  width: 15px;
}
