@import "./ui-variables.scss";

.main-screen {
  margin-top: 6px;
  position: relative;
  background-color: $secondary-color;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  &.dark {
    @include dark-secondary();
  }
}
