@import "./ui-variables.scss";

.main-screen {
  position: relative;
  background-color: $secondary-color;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  &.dark {
    @include dark-secondary();
  }
}
